$primary-color: #271762;
$secondary-color: #251755;
$accent: #7A8AED;
$nav-height: 60px;
$margin-right: 20px;

.center{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: auto;
}