@import './../../assets/scss/common.scss';

:root{
    --height: #{$nav-height};
    --margin-right: 80px;
    --menu-color: white;
}

.navbar{
    position: sticky;
    top: 0px;
    z-index: 10;

    &--size{
        height: var(--height);
        width: 100%;
    }

    &--theme{
        background-color: $primary-color
    }
}

.menus{
    display: flex;
    list-style: none;
    justify-content:flex-end;
    align-items: center;

    &--size{
        height: var(--height);
    }
}

.menu{
    color: var(--menu-color);
    font-weight: 600;

    &:not(:last-child){
        margin-right: var(--margin-right);
    }

    &:hover{
        cursor: pointer;
    }
}

.menu-link{
    text-decoration: none;
    color: inherit;
}

.active{
    border-bottom: 3px solid $accent;
    padding-bottom: 2px;
}

@media (min-width:320px){
    /* smartphones, iPhone, portrait 480x320 phones */
    .menus{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu{
        font-size: 13px;
        font-weight: 500;
        &:not(:last-child){
            margin-right: 35px;
        }
    }

    .center{
        width: 90%;
        margin: none;
    }
}
@media (min-width:481px){
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
    .menus{
        display: flex;     
        align-items: center;
        justify-content: center;
    }

    .menu{
        font-size: 14px;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 50px;
        }
    }

    .center{
        width: 90%;
        margin: none;
    }
} 
@media (min-width:641px){
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    .menus{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .menu{
        font-size: 14px;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 60px;
        }
    }

    .center{
        width: 80%;
        margin: none;
    }
}
@media (min-width:961px){
    /* tablet, landscape iPad, lo-res laptops ands desktops */
    .menus{
        display: flex;       
        align-items: center;
        justify-content: flex-end;
    }

    .menu{
        font-size: 14px;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 70px;
        }
    }

    .center{
        width: 80%;
        margin: none;
    }
} 
@media (min-width:1025px) and (max-width: 1281px){
    /* big landscape tablets, laptops, and desktops */

    .menus{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
    }

    .menu{
        font-size: 14px;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 80px;
        }
    }

    .center{
        width: 80%;
        margin: auto;
    }
}
@media (min-width:1281px){
    /* hi-res laptops and desktops */
    .menus{
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .menu{
        font-size: 14px;
        font-weight: 600;
        &:not(:last-child){
            margin-right: 80px;
        }
    }

    .center{
        width: 60%;
        margin: auto;
        justify-content: flex-end;
    }
}
