@import './../../assets/scss/common.scss';

.aboutsection{

    &--size{
        height: 100vh;
    }

    &--theme{
        background-color: $secondary-color;
    }

    &__left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__right{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.about-title{
    color: white;
    font-size: 32px;
}

.line{
    background-color: white;
    height: 5px;
    width: 20%;
    margin-top: 10px;
}

.about-description{
    margin-top: 50px;
    font-size: 15px;
    line-height: 20px;
    word-spacing: 5px;
    color: white;
}

.cv-button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $primary-color;
    margin-top: 30px;
    width: 130px;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background-color: white;

    &:hover{
        transform: scale(1.05);
        transition: transform .5s;
    }
}

.about-image{
    height: 380px;
    max-width: 380px;
    background: url('./../images/triangle.png');
    background-size: contain;
    background-repeat: no-repeat;
    animation: changewidth 3s infinite;
}

@media (min-width:320px){
    /* smartphones, iPhone, portrait 480x320 phones */

    .center{
        width: 90%;
        margin: none;
        flex-direction: column;
        align-items: center;
    }

    .aboutsection{
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &--size{
            height: calc(70vh - #{$nav-height});
        }
    }

    .about-image{
        display: none;
    }
    
}

@media (min-width:481px){
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    .center{
        width: 90%;
        margin: none;
    }
} 
@media (min-width:641px){
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    .center{
        width: 80%;
        margin: none;
    }
}
@media (min-width:961px){
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    .center{
        width: 80%;
        margin: none;
        flex-direction: row;
        // align-items: center;
    }

    .aboutsection{
        flex-direction: column;
        align-items: center;

        &--size{
            height: calc(100vh - #{$nav-height});
        }
    }
} 
@media (min-width:1025px) and (max-width: 1281px){
    /* big landscape tablets, laptops, and desktops */

    .center{
        width: 80%;
        margin: auto;
    }
}
@media (min-width:1281px){
    /* hi-res laptops and desktops */

    .center{
        width: 60%;
        margin: auto;
        justify-content: flex-end;
    }

    .aboutsection{
        flex-direction: row;
        align-items: center;

        &--size{
            height: calc(100vh - #{$nav-height});
        }
    
        &__right{
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 100px;
        }
    }

    .about-image{
        display: flex;
        max-width: 400px;
        background: url('./../images/triangle.png');
        background-size: contain;
        background-repeat: no-repeat;
        animation: changewidth 3s infinite;
    }
}

@keyframes changewidth {
    from {
        transform:  scale(1);
    }

    50%{
        transform:  scale(1.05);
    }
  
    to {
        transform:  scale(1);
    }
  }