@import './../../assets/scss/common.scss';

.homesection{

    &--size{
        height: calc(100vh - #{$nav-height});
    }

    &--theme{
        background-color: $primary-color;
    }

    &__left{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }

    &__right{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.title{
    font-size: 48px;
    color: white;
}

.subtitle{
    color: $accent;
}

.line{
    background-color: white;
    height: 5px;
    width: 20%;
    margin-top: 10px;
}

.description{
    margin-top: 30px;
    font-size: 15px;
    line-height: 20px;
    word-spacing: 5px;
    color: white;
}

.hire-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 120px;
    border: none;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    background-color: white;
    text-decoration: none;
    color: $primary-color;

    &:hover{
        transform: scale(1.05);
        transition: transform .5s;
    }
}

@media (min-width:320px){
    /* smartphones, iPhone, portrait 480x320 phones */

    .center{
        width: 90%;
        margin: none;
        flex-direction: column;
    }

    .homesection{
        flex-direction: column;
        align-items: center;

        &--size{
            height: calc(100vh - #{$nav-height});
        }

        &__right{
            display: none;
        }
    }

    .user-image{
        display: none;
    }
}
@media (min-width:481px){
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */

    .center{
        width: 90%;
        margin: none;
    }
} 
@media (min-width:641px){
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */

    .center{
        width: 80%;
        margin: none;
    }
}
@media (min-width:961px){
    /* tablet, landscape iPad, lo-res laptops ands desktops */

    .center{
        width: 80%;
        margin: none;
        flex-direction: row;
    }

    .homesection{
        flex-direction: column;
        align-items: center;

        &--size{
            height: calc(100vh - #{$nav-height});
        }

        &__right{
            display: flex;
        }
    }
} 
@media (min-width:1025px) and (max-width: 1281px){
    /* big landscape tablets, laptops, and desktops */

    .center{
        width: 80%;
        margin: auto;
    }
}
@media (min-width:1281px){
    /* hi-res laptops and desktops */

    .center{
        width: 60%;
        margin: auto;
        justify-content: flex-end;
    }

    .homesection{
        flex-direction: row;
        align-items: center;

        &--size{
            height: calc(100vh - #{$nav-height});
        }

        &__right{
            align-items: flex-end;
        }
    }

    .user-image{
        display: flex;
        margin: auto;
        max-width: 400px;
        background: url('./../images/circlescircles.png');
        background-position: center;
        background-repeat: no-repeat;
        animation: changewidth 3s infinite;
    }
}

@keyframes changewidth {
    from {
        transform:  scale(1);
    }

    50%{
        transform:  scale(1.05);
    }
  
    to {
        transform:  scale(1);
    }
  }